# Stuff Lending Test Report
We did the test that were asked and surprisingly our program managed to pass all the tests. 

Input authentication for users were made to avoid the program crashing.
***

![Test Results](img/testImage.png)